.alert {
    background-color: #63abc3;
    color: white;
    padding: 10px;
    margin-top: 10px;
  }
  
  .alert h2 {
    margin: 0;
  }
  
  form {
    margin-top: 20px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
    display: flex;
    align-items: center;
    justify-content: center;
  }